= form_for @pro_con do |f|
  - if @pro_con.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pro_con.errors.count, "error")} prohibited this pro_con from being saved:"
      %ul
        - @pro_con.errors.full_messages.each do |msg|
          %li= msg

  .field
    / = f.label :body
    %div.input-group.input-group-lg
      %span.input-group-addon
        = render 'avatar', user: current_user_or_visitor
      = f.text_area :body, class: "form-control", rows: "2"
  .field
    = f.hidden_field :cons, value: $con
  / .field
  /   = @pro_con.discussion.user.name
  .actions
    = f.submit 'Save', class: 'btn btn-primary', style: 'margin-top: 10px;' 



/ <div class="input-group input-group-lg">
/   <span class="input-group-addon">@</span>
/   <input type="text" class="form-control" placeholder="Username">
/ </div>